# pytorch related
torch
torchvision
pytorch-lightning
torchmetrics
efficientnet-pytorch

# data processing
pandas
seaborn
tqdm
ipykernel

# face detection
mediapipe
opencv-python-headless
Pillow

# root setup
pyrootutils

# gcp
google-resumable-media
google-cloud-storage
google-cloud-bigquery
